<% layout('/layout') -%>
<div class="margin thin-border">
  <h3 class="action" id="expand-recipient-list">&#9660; Recipients</h3>
  <div class="margin-top" id="recipient-list">
    <div class="real-margin-top"></div>
    <div id="recipients">
      (Empty)
    </div>
    <div id="recipient-selector">
    <div class="right-half">
      <h5>People</h5>
      <% for (var i = 0; i < people.length; ++i) { -%>
        <p class="recip out" id="rperson<%= people[i].id %>" data-id="<%= people[i].id %>" data-type="person">
          <%= people[i].firstname %> <%= people[i].lastname %>
        </p>
      <% } -%>
    </div>
    <div class="left-half">
      <h5>Groups</h5>
      <% for (var i = 0; i < groups.length; ++i) { -%>
        <p class="recip out" id="rgroup<%= groups[i].id %>" data-id="<%= groups[i].id %>" data-type="group">
          <%= groups[i].name %>
        </p>
      <% } -%>
    </div>
    </div>
  </div>
</div>
<div><form method="post" action="/command_center/<%= submiturl %>" id="form">
  <textarea name="message" id="textarea" placeholder="Type your message here"></textarea>
  <% if (type == 'schedule') { %>
    <div class="margin">
      <div class="right-half-borderless">
        <div class="right-half-borderless">
          <label><input type="checkbox" id="day3" name="day3"></input><%= days[3] %></label><br>
          <label><input type="checkbox" id="day7" name="day7"></input><%= days[7] %></label>
        </div>
        <div class="left-half-borderless">
          <label><input type="checkbox" id="day2" name="day2"></input><%= days[2] %></label><br>
          <label><input type="checkbox" id="day6" name="day6"></input><%= days[6] %></label>
        </div>
      </div>
      <div class="left-half-borderless">
        <div class="right-half-borderless">
          <label><input type="checkbox" id="day1" name="day1"></input><%= days[1] %></label><br>
          <label><input type="checkbox" id="day5" name="day5"></input><%= days[5] %></label>
        </div>
        <div class="left-half-borderless">
          <label><input type="checkbox" id="day0" name="day0"></input><%= days[0] %></label><br>
          <label><input type="checkbox" id="day4" name="day4"></input><%= days[4] %></label>
        </div>
      </div>
    </div>
    <div class="margin">
      <label>Time: <input type="text" id="time" name="time" value="3:00 PM"></input></label>
      <span id="timewarning" style="display: none;">Invalid time. Please use the format HH(:MM) AM/PM</span>
    </div>
    <label><input type="radio" id="texttype" name="msgtype" value="Text" checked="checked"></input>Text</label>
    <label><input type="radio" id="calltype" name="msgtype" value="Call"></input>Call</label>&nbsp;
    <input type="submit" value="Schedule task!"></input>
  <% } else { %>
    <input type="submit" value="Send <%= type %>!"></input>
  <% } %>
</form></div>
<script>
  $(function() {
    $('#expand-recipient-list').click(function() {
      var list = $('#recipient-selector');
      if (list.is(':hidden')) {
        list.show('fast');
        $('#expand-recipient-list').html('&#9660; Recipients');
      } else {
        list.hide('fast');
        $('#expand-recipient-list').html('&#9658; Recipients');
      }
    });

    function addRecip(elem) {
      var recips = $('#recipients');
      var form = $('#form');
      elem.hide();
      var p = $('<p/>', {
        class: 'recip in',
        text: elem.text(),
        'data-id': elem.data('id'),
        'data-type': elem.data('type')
      });
      p.click(function() {
        $('#' + elem.data('type') + elem.data('id')).remove();
        elem.show();
        p.remove();
        if (!$('#recipients p').length) {
          $('#recipients').text('(Empty)');
        }
      });
      if (!$('#recipients p').length) {
        $('#recipients').text('');
      }
      recips.append(p);
      form.append($('<input/>', {
        type: 'hidden',
        id: elem.data('type') + elem.data('id'),
        name: 'recipient',
        value: elem.data('type') + elem.data('id')
      }));
    }

    $('p.recip.out').click(function() {
      addRecip($(this));
    });

    <% if (type == 'schedule') { %>
      // The scheduler takes up a lot of space, so collapse the
      // recipient list by default.
      $('#recipient-selector').hide();
      $('#expand-recipient-list').html('&#9658; Recipients');

      // Probably should have done all of this in the HTML above but whatever.
      <% if (vars.message) { %>
        $('#textarea').text('<%= vars.message %>');
      <% } %>
      <% if (vars.recipients) { %>
        <% for (var i = 0; i < vars.recipients.people.length; ++i) { %>
          addRecip($('#rperson<%= vars.recipients.people[i] %>'));
        <% } %>
        <% for (var i = 0; i < vars.recipients.groups.length; ++i) { %>
          addRecip($('#rgroup<%= vars.recipients.groups[i] %>'));
        <% } %>
      <% } %>
      <% if (vars.days) { %>
        <% for (var i = 0; i < vars.days.length; ++i) { %>
          <% if (vars.days[i]) { %>
            $('#day<%= i %>').attr('checked', 'checked');
          <% } %>
        <% } %>
      <% } %>
      <% if (vars.time) { %>
        $('#time').val('<%= vars.time %>');
        validateTime($('#time'));
      <% } %>
      <% if (vars.msgtype == 'Call') { %>
        $('#calltype').attr('checked', 'checked');
      <% } %>

      $('#time').keyup(function(e) {
        validateTime($('#time'));
      });

      function validateTime(t) {
        var match = 
          /^(10|11|12|[1-9])(?::([0-5]\d))?\s*([AaPp][Mm])$/
          .test(t.val());
        if (!match) {
          $('#time').css('background-color', '#ffaaaa');
          $('#timewarning').show();
        } else {
          $('#time').css('background-color', '#ffffff');
          $('#timewarning').hide();
        }
      }
    <% } %>
  });
</script>
